<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farhan.thinkers2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.example.farhan.thinkers2.TitlePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.farhan.thinkers2.FirstThinker"
            android:label="@string/title_activity_first_thinker" >
        </activity>
        <activity
            android:name="com.example.farhan.thinkers2.HesseNextLevel"
            android:label="@string/title_activity_hesse_next_level"
            android:parentActivityName="com.example.farhan.thinkers2.FirstThinker" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.farhan.thinkers2.FirstThinker" />
        </activity>
    </application>

</manifest>
